pyaudio
numpy
#scipy
onnxruntime
openwakeword
#flask 
#webrtcvad
#pydub 
requests
#streamlit==1.24.0
websockets==11.0.3
#audio-recorder-streamlit==0.0.8
#sounddevice
#websockets
#wave
#pydub
#pyaudio
